@media  ( max-width: 991px ) {
    .container {
        padding: 0 15px;
    }

    .catalog {
        &__content {
            justify-content: center;
        }  
    }

    .catalog-item {
        margin: 10px;
    }
}




@media  ( max-width: 767px ) {
    .header {
        flex-wrap: wrap;
        &__contacts {
            margin: 10px auto;
        }
    }

    .advantages__wrapper {
        flex-direction: column;
        align-items: center
    }

    .carousel {
        &__inner {
            width: 550px !important;
            img {
                width: 100%;
            }
        }
    }

}

@media  ( max-width: 575px ) {
    .header__logo {
        margin: 0 auto;
    }

    .header__official {
        margin: 10px auto;
    }

    .promo__header {
        font-size: 24px;
    }

    .promo__icons {
        width: 300px;
    }

    .carousel {
        &__inner {
            width: 300px !important;
            img {
                width: 100%;
            }
        }
    }

    .catalog {
        &__tabs {
            flex-direction: column;
            align-items: center;
            }
        &__tab {
            margin: 5px 0;
        }
    }

    .review-block {
        flex-direction: column;
        align-items: center;
    }

    .review-text {
        margin-left: 0px;
        margin-top: 20px;
    }
    
    .modal {
        width: 300px;
        padding: 20px 10px;
            &__close {
                top: -40px;
                right: 45%;
                font-size: 40px;
                line-height: 20px;
                color: $main-color;
                cursor: pointer;
            }
    }

    .footer__info {
        width: 320px;
    }

    .feed-form {
        width: 280px;
    }

    
}
    