.carousel {
    position: relative;
    padding: 81px 0;
    &__inner {
        width: 750px;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
}
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;

        } 
    }

    .slick-next {
        left: auto;
        right: -66px;
        } 
    
    .slick-dots {
        padding-left: 0px;
        margin: 10px auto;
        width: 200px;
        display: flex !important;
        justify-content: space-between;
        list-style-type: none;
        li {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: #fff;
            border: solid 1px $main-color;
            button {
                display: none;
            }
        }
        .slick-active {
            background-color: $main-color;
        }
    }

